:root{
	--white-color: white;
	--black-color: rgba(39, 39, 39, 0.7);
	--border-color:  rgba(255, 255, 255, 0.1);
    --background-color: #181818;
    --background-header-color: rgba(33, 33, 33, 0.98);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
	position: relative;
	background-color: rgb(0, 0, 0);
	font-family: 'roboto', sans-serif;
	overflow-x: hidden;
}

p{
	margin: 0;
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--background-header-color);
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	z-index: 1;
	justify-content: space-between;
}

.start__toggle-btn{
	margin: auto 6px;
	font-size: 18px;
}

.fa-solid{
	color: white;
	margin: auto 5px;
}

.d-flex{
	display: flex;
}

.js-center{
	justify-content: center;
}

.logo_ytb{
	margin: auto 26px;
	font-size: 26px;
}


.fa-brands {
	color: rgb(255, 0, 0);
}
.logo-name{
	font-size: 20px;
	margin: auto 5px;
	font-weight: 10;
	font-family: impact;
}
.logo-name-color{
    text-decoration: none;
    color: white;
}

.nav__center{
	position: relative;
	width: 600px;
	height: 40px;
}

.search-input{
    background-color: transparent;
	border: 0.5px solid var(--border-color);
    box-shadow: none;
    color: inherit;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
	color: white;
	padding: 0 12px;
}

.search-btn{
	background-color: hsla(0, 0%, 100%, 0.08);
	border: 1px solid hsl(0, 0%, 18.82%) ;
	color: white;
	width: 70px;
    height: 40px;
    border-radius: 0 2px 2px 0;
}
.voice-btn{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.486);
    margin-left: 12px;
}

.nav__end{
	margin: auto 0;
}

.user-option{
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.user-login {
    height: 40px;
    display: block;
    margin: auto 0;
    border: 1px solid #4e97f7;
	color: #4e97f7;
    width: 100%;
    text-align: center;
}
.nav-link-user{
    padding: 8px 0;
}
.mr-3{
	margin-right: 1rem
}
.nav-link{
	padding: 0.5rem 1rem;
}
.color-sign{
	color: #4e97f7;
}

/* Sidebar */
.side-bar::-webkit-scrollbar {
    display: none;
}

.small-sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    min-width: 70px;
    width: 70px;
    height: calc(100% - 60px);
    background-color: var(--background-header-color);
}

.small-sidebar .side-bar__item {
    padding: 12px;
    flex-direction: column;
    height: 60px;
}

.small-sidebar .side-bar__item .item__content {
    font-size: 10px;
}

.small-sidebar .side-bar__item .item__icon i {
    margin: 0!important;
}

.small-sidebar .side-bar__login,
.small-sidebar .side-bar__best {
    display: none;
}

.side-bar__item {
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.side-bar__login a {
    text-align: center;
    width: 120px;
    margin-top: 12px;
}

.side-bar__item:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
}

.side-bar__best span {
    padding: 8px 16px;
    color: #606060;
    font-size: 14px;
    font-weight: 600;
}

.separator {
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: 8px 12px 8px 0;
}
.mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}
.item__content{
	color: white ;
}


/* Filters */
.filters {
    position: fixed;
    left: 70px;
    top: 56px;
    width: 100%;
    height: 56px;
    border-top: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    background-color: var(--background-header-color);
    align-items: center;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 1;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filters_option {
    flex: 0 0 auto;
    padding: 4px 16px;
    background: rgba(161, 161, 161,0.5);
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin: 0 6px;
    color: white;
    height: 32px;
}

.filters_option:hover{
    background-color: gray;
}
.filters_option--active {
    background-color: var(--white-color);
    color: black;
}

.owl-item {
    width: 60px;
}


/* video list */
.video_container{
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    width: calc(100%-250px);

}
.video_container_large{
    margin-left: 70px;
    width: calc(100%-70px);

}
.video_content{
    display: flex;
    flex-wrap: wrap;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.video_content__col{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    min-width: 270px;
    min-height: 271px;
    padding-left: 15px;
    padding-right: 16px;
    margin-bottom: 40px;
}
.video_content__col a{
    text-decoration: none;
}
.video_thumbal{
    position: relative;
}
.thumbal_video{
    width: 100%;
    object-fit: cover;
}
.timevideo{
    position: absolute;
    bottom: 10px;
    right: 8px;
    color: var(--white-color);
    padding: 4px;
    font-size: 14px;
    background-color: black;
}
.video_content__video_info{
    display: flex;
    margin-top: 8px;
    color: var(--white-color);
}
.channel_img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 12px;
}
.info1{
    margin: 12px 0 2px 0;
}
.video_description{
    display: -webkit-box;
    font-family: Arial;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.info_name_channel{
    font-size: 14px;
    color: #aaa;
    font-family: Arial;
    font-weight: 400;  
    margin-top: 8px;
}
.video_view{
    font-size: 14px;
    margin-left: 48px;
    color: #aaa;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}
